html {
    background-color: black;
}
div {
    width: 100px;
    height: 100px;
    padding: 10px;
    border: 10px solid rgb(32, 128, 0);
}

.com-border-box {
    background-color: aqua;
    box-sizing: border-box;
}

.sem-border-box {
    background-color: brown;
}

/* largura + padding direito + padding esquerda + border esquerda+ border direita = largura total do elemento  

100 + 10 + 10 + 10 + 10 = 140

*/

/* altura + padding de cima + padding de baixo + border esquerda+ border direita = altura total do elemento  

100 + 10 + 10 + 10 + 10 = 140

*/

/* *,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    list-style-type: none;
} */